{% macro input(title, class = false, type = "text", url) %}
{% if class == true %}
<a type = "{{ type }}" class = "btn btn-primary" href="{{ url }}">{{ title }}</a>
{% endif %}
{% if class == false %}
<a type = "{{ type }}" class = "btn btn-link" href="{{ url }}">{{ title }}</a>
{% endif %}
{% endmacro %}