{% extends "__layout.twig" %}
{% import "button_layout.twig" as forms %}
{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        {{ forms.input('Нами',true,"button","/nami" ) }}
        {{ forms.input('Картинка',false,"button","/nami/image" ) }}
        {{ forms.input('Описание',false,"button","/nami/info" ) }}
    </li>
    <li class="list-group-item">
        {{ forms.input('Робин',true,"button","/robin" ) }}
        {{ forms.input('Картинка',false,"button","/robin/image" ) }}
        {{ forms.input('Описание',false,"button","/robin/info" ) }}
    </li>
</ul>
{% endblock %}