{% import "button_layout.twig" as forms %}
{% block content %}

{% for object in lady_objects %}

<div class="col-3"> 
    <div class="list-group-item m-2 text-center position-relative">
        <div class="position-absolute" style="right: 4px; top: 4px">
            <form action="/lady_objects/delete" method="post">
                <input type="hidden" name="id" value="{{object.id}}">
                <button type="submit" class="btn btn">
                    <i class="fas fa-times"></i>
                </button>
            </form>
        </div>
        <div class="position-absolute" style="left: 4px; top: 4px">
            <form action = "/lady_object_update/{{object.id}}">
                <input type="hidden" name="id" value="{{object.id}}">
                <button type="submit" class="btn">
                    <i class="far fa-edit"></i>
                </button>
            </form>
        </div>

        <div>
            <img src="{{ object.image }}" class="border border-2 rounded-3" style="width: 200px; height: 200px;">
        </div>

        <div class="mt-2">
            <div class="row m-2">
                <a class = "btn btn-primary" href="/lady_objects/{{object.id}}">{{object.title}}</a>
            </div>
            <div class="mb-4">
                <a class = "btn btn-link" href="/lady_objects/{{object.id}}/?show=image">Картинка</a>
                <a class = "btn btn-link" href="/lady_objects/{{object.id}}/?show=info">Описание</a>
            </div>  
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}